@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;
}


.dropdown-menu-button.main-menu-trigger.zen-mode-transition {
  display: none;
}

.layer-ui__wrapper__top-right.zen-mode-transition, .layer-ui__wrapper__footer-right.zen-mode-transition {
  display: none !important;
}

.ToolIcon__keybinding, .App-toolbar__divider {
  display: none;
}

[title="Hand (panning tool) — H"], [title="Keep selected tool active after drawing — Q"], [title="More tools"], [title="Diamond — D or 3"], [title="Arrow — A or 5"], [title="Line — L or 6"], [title="Insert image — 9"] {
  display: none !important;
}

.HintViewer {
  display: none !important;
}

.mobile-misc-tools-container {
  display: none !important;
}

.layer-ui__wrapper__footer-left {
  display: none;
}

.excalidraw .App-top-bar {
  flex-direction: row !important;
}

.shapes-section {
  order: -999;
  width: min-content;
}

.excalidraw .Stack_horizontal {
  grid-auto-flow: row !important;
}

.Island.App-menu__left {
  z-index: 100;
  left: 60px;
  top: 0;
}


.panelColumn fieldset, .panelColumn .control-label {
  display: none !important;
}


.excalidraw .App-toolbar--mobile {
  position: absolute !important;
  top: 0;
  width: auto !important;
}
